body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.App {
    background: #f1f1f1;
    padding: 25px;
}

.infected {
    background: linear-gradient(0deg, #fff23e 0%, #fff78d 15%, #ffffff 40%);
}
.recovered {
    background: linear-gradient(0deg, #72f041 0%, #b7ff8d 15%, #ffffff 40%);
}
.dead {
    background: linear-gradient(0deg, #ff3e3e 0%, #ff9e8d 15%, #ffffff 40%);
}
